<div class="container">
  <h1 class="text-center">Registration</h1>
  <form [formGroup]="registerForm" class="login-form d-flex p-2 flex-column w-50 mx-auto gap-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email address</mat-label>
      <input type="email" [errorStateMatcher]="matcher" matInput placeholder="name@example.com" formControlName="email">
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">This field can not be blank</mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Type in correct email format - name@example.com</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" [errorStateMatcher]="matcher" matInput placeholder="username" formControlName="username">
      <mat-error *ngIf="registerForm.get('username')?.hasError('required')">This field can not be blank</mat-error>
      <mat-error *ngIf="registerForm.get('username')?.hasError('minlength')">Username length needs to be minimum 3</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="text" [errorStateMatcher]="matcher" matInput placeholder="*******" formControlName="password">
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">This field can not be blank</mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password length needs to be minimum 3</mat-error>
    </mat-form-field>

    <a routerLink="/login">Already Registered? </a>
    <button class="login-btn" mat-raised-button color="primary" (click)="register()">Register</button>
  </form>
</div>
